<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".widget.WidgetConfigActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.AirwaveWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="io.ahara.airwave.action.CYCLE_DEVICE" />
                <action android:name="io.ahara.airwave.action.PLAY_PAUSE" />
                <action android:name="io.ahara.airwave.action.NEXT" />
                <action android:name="io.ahara.airwave.action.VOLUME_UP" />
                <action android:name="io.ahara.airwave.action.VOLUME_DOWN" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/airwave_widget_info" />
        </receiver>
    </application>
</manifest>
